<h2>Customers</h2>
<ul class="customer-list">
  <li *ngFor="let customer of customers">
    <button [class.selected]="customer === selectedCustomer" type="button" (click)="onSelectCustomer(customer.customerID)">
      <app-person-list [personId]="customer.personID" />
      <span class="customer-id">Customer ID: {{customer.customerID}}</span>
    </button>
  </li>
</ul>

<h2>Selected customer</h2>
<div *ngIf="selectedCustomer">
  <app-person-list [personId]="selectedCustomer.personID"/>
  <div>Customer id: {{selectedCustomer.customerID}}</div>
  <div>
    <input id="customer-id" [(ngModel)]="selectedCustomer.customerID" placeholder="id">
  </div>
</div>

